@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn đã đổi mật khẩu thành công. Bấm <a asp-page="./Login">vào đây để đăng nhập</a>.
</p>
